// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBKWuVbBhQij69XxZMCqc_qPmY6ANIXSc8",
  authDomain: "pocketsub-28d4b.firebaseapp.com",
  projectId: "pocketsub-28d4b",
  storageBucket: "pocketsub-28d4b.firebasestorage.app",
  messagingSenderId: "249708019356",
  appId: "1:249708019356:web:d343efe06464b97fc0f759",
  measurementId: "G-YT7V9S8HG5"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);